[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
notebook = "*"
pandas = "*"
numpy = "*"
holoviews = "*"
panel = "*"
bokeh = "==2.3.1"
matplotlib = "*"
networkx = "*"
minisom = "*"
scipy = "*"
sklearn = "*"
scikit-image = "*"
tk = "*"

[dev-packages]

[requires]
python_version = "3.9"
